/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 450px;
  /*min-height: 380px;*/
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

#logo-container img {
  height: 100%;
  padding: 12px 12px 12px 0px;
}

#logo-container span {
  color: #757575;
  font-size: 0.7em;
  top: -20px;
  position: relative;
}

#initial-search {
  text-align: center;
  position: relative;
  top: 100px;
  color: #000;
}

#initial-search .content-search {
  width: 955px;
  background: rgba(255,255,255,.8);
  padding-bottom: 15px;
}

#initial-search .content-search .row {
  text-align: center;
}

#initial-search .content-search .row .input-field {
  float: none;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}

#initial-search .title-search {
  font-size: 24px;
  font-weight: 600;
  padding: 17px 0px;
}

#initial-search form {
  text-align: left;
}

.section1 {
 background: #ebeff2 none repeat scroll 0 0; 
}

.section1 .description {
  float: right;
  width: calc(100% / 2);
}

.section1 .section {
  padding: 35px 0px;
}

.section2 {
  background: #2d384a;
  color: #FFF;
}

.section2 .description {
  width: calc(100% / 2);
  display: inline-block;
}

.section2 img {
  float: right;
}

.section2 .section {
  padding: 35px 0px;
}

.teal {
  background: #f0f0f0 !important;
}

.teal a {
  color: #444 !important;
}

.footer-copyright {
  background: #2d384a !important;
}

.header-footer {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  display: inline;
  background: #f0f0f0;
  position: relative;
  padding-right: 10px;
}

.page-footer svg {
  position: absolute;
  top: 10px;
}

.content-footer {
  position: relative;
}

a.social-facebook {
  background-image: url("../images/social/Facebook.png");
  background-size: 21px;
  background-repeat: no-repeat;
  padding: 3px 0 3px 24px;
}

a.social-google {
  background-image: url("../images/social/Google+.png");
  background-size: 21px;
  background-repeat: no-repeat;
  padding: 3px 0 3px 24px;
}

a.social-instagram {
  background-image: url("../images/social/Instgram.png");
  background-size: 21px;
  background-repeat: no-repeat;
  padding: 3px 0 3px 24px;
}

a.social-twitter {
  background-image: url("../images/social/Twitter.png");
  background-size: 21px;
  background-repeat: no-repeat;
  padding: 3px 0 3px 24px;
}

.footer-social ul li {
  margin: 5px 0px;
}